/* Set page background color */
body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

/* Sidebar style */
.sidebar {
    background-color: #343a40;
    color: #ffffff;
    border-right: 1px solid #ddd;
    padding: 20px;
}

/* Highlight active navigation item */
.sidebar .nav-link.active {
    font-weight: bold;
    color: #007bff !important;
}

/* Title style */
h2 {
    font-weight: bold;
}

/* Table style */
.dash-table-container {
    margin-top: 20px;
}

/* href color */
.custom-link {
    color: white;  /* Change 'red' to any color */
}

/* Filter */